<launch>
  <arg name="map_name" default="laas_adream"/>
  <arg name="localize" default="fake"/>
  <arg name="num_humans" default="3"/>
  <arg name="node_start_delay" default="2.0"/>

  <!-- tuck the arms by default -->
  <include file="$(find morse_ros)/launch/pr2_tuck_arms.launch" />

  <!-- static map and localization -->
  <include file="$(find cohan_navigation)/launch/morse_pr2_launch/morse_pr2_locate.launch">
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="localize" value="$(arg localize)"/>
  </include>

  <!-- navigation -->
  <include file="$(find cohan_navigation)/launch/morse_pr2_launch/morse_pr2_nav.launch">
    <arg name="node_start_delay" value="$(arg node_start_delay)"/>
  </include>

  <!-- Docking -->
  <node pkg="base_nav" name="docking_node" type="docking_node" output="screen">
      <remap from="navigation/cmd_vel" to="/cmd_vel" />
      <param name="goal_tolerance" value="0.05" />
      <param name="max_speed" value="0.2" />
      <param name="P" value="2.0" />
      <param name="I" value="0.3" />
      <param name="max_integral" value="10" />
      <param name="control_period" value="0.1" />
  </node>

  <!-- Morse humans to /tracked_humans -->
  <node name="humans" pkg="morse_ros" type="humans_bridge.py" args="$(arg num_humans)" output="screen"/>

  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cohan_navigation)/rviz/cohan_nav_morse.rviz" />

</launch>
