<launch>
  <param name="robot_description" command="cat $(find stage_ros)/urdf/pr2.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">["/stage_joint_states"]</rosparam>
    <param name="rate" value="50"/>
  </node>

  <node name="stage_joints" pkg="stage_ros" type="stage_joints.py"/>
</launch>
