<launch>
  <!-- <arg name="world_file" default="$(find stage_ros)/worlds/laas_simplified.world" unless="$(arg gui)"/>
  <arg name="world_file" value="$(find stage_ros)/worlds/laas.world" if="$(arg gui)"/> -->

  <arg name="num_agents" default="1"/>
  <arg name="ns" default="human1"/>
  <arg name="gui" default="false"/>
  <arg name="paused" default="false"/>

  <arg name="robot_pose" default="-x 5 -y 2 -z 0. -R 0.0 -P 0.0 -Y 0.0"/>

  <arg name="map" default="laas_adream"/>
  <arg name="world_name" default="$(find inhus_gazebo_ros)/world/$(arg map).world"/>

  <param name="map_name" value="$(arg map)"/>
  <param name="/use_sim_time" value="true"/>

<!--Spawn environment-->
<!-- start gazebo server-->
<node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen"
  args="$(arg world_name)">
  <!--following remap may not be necessary for pr2 -->
  <!-- to check if it is better without remap -->
  <!-- <remap from="tf" to="gazebo_tf"/> -->
</node>

<!-- comment me for headless -->
<group if="$(arg gui)">
<node name='gazebo_gui' pkg='gazebo_ros' type='gzclient' respawn='false' output='screen'/>
</group>

</launch>
