<?xml version="1.0"?>
<launch>
  <node name="mapping" pkg="gmapping" type="slam_gmapping">
    <param name="base_frame" value="base_footprint"/>
    <param name="ymin" value="-15"/>
    <param name="xmin" value="-10"/>
    <param name="xmax" value="15"/>
    <param name="ymax" value="10"/>
  </node>
</launch>
