<launch>
  <arg name="ns" default="human1"/>
  <arg name="localize" default="fake"/>
  <arg name="node_start_delay" default="4.0"/>
  <arg name="num_agents" default="4"/>

  <include file="$(find cohan_navigation)/launch/gazebo_pr2_multi_launch/include/agent_with_ns.launch">
    <arg name="ns" value="$(arg ns1)"/>
    <arg name="node_start_delay" value="$(arg node_start_delay)" />
    <arg name="localize" value="$(arg localize)"/>
    <arg name="num_agents" value="$(arg num_agents)"/>
  </include>
</launch>