<launch>
  <arg name="KINECT1" default="$(optenv KINECT1 false)" />
  <arg name="L515" default="$(optenv L515 false)" />
  <!-- send pr2 urdf to param server -->
  <group>
    <param name="robot_description" command="$(find xacro)/xacro '$(find cohan_gazebo)/robots/pr2.urdf.xacro' --inorder KINECT1:=$(arg KINECT1) L515:=$(arg L515)" />
  </group>
</launch>
